extends layout
block content
  div.topbar
    h1= title
  div.top
    form(method='POST' action="/data")
      div.request
        select(name="requestType")
          option(value="get") GET 
          //- option(value="post") POST 
        input(type="text", name="url")  
        button(type="submit") SEND
      div.stats
        span status:
        span.status #{status}
        span response:
        span.status #{time} ms
        span size:
        span.status #{length} B
      div.response
        div.preDiv
          pre #{JSON.stringify(response, null, 2)}
